C:\Users\User\AppData\Local\Temp\RtmpuKnZ9p/rdhs/rdhs.json
C:\Users\User\AppData\Local\User\rdhs\Cache/rdhs.json
~/.rdhs.json
/var/folders/2q/dhvzjs292bn8c423cc2nqcnr0000gn/T//RtmpaXeIB5/rdhs/rdhs.json
/Users/kenwosu/Library/Caches/rdhs/rdhs.json
